<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TECH BLOG</title>
    </head>
    <body>
        <div>
            <h1>rendering main.handlebars</h1>
        </div>
    </body>