<h1>YOU MADE IT TO SIGNUP</h1>
<div class="card" id="signInCard">
  <div class="card-header">
    Sign-In!
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Special title treatment</h5>
    <div class="form-group text-center">
      <label for="formControlInput" class="form-label">Username</label>
      <input type="email" class="form-control mx-auto" id="formControlInput" placeholder="name@example.com"> 
      <label for="formControlInput" class="form-label">Password</label>
      <input type="password" class="form-control mx-auto" id="formControlInput" placeholder="********">
    </div>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted hidden">
  </div>
</div>
